---
layout: default
title: Home
slug: home
---

<div class="container">

<h1>What is Opal?</h1><p><a target="_blank" href="http://opalrb.org">Opal is a Ruby-to-JS source compiler</a>. That's the short answer. The longer answer is:</p><p><strong>Opal is a complete Ruby runtime and ecosystem that runs in the browser. Not only that, but any Javascript environment such as, for example, Node.</strong><br />Load and publish Gems, deploy via Sprockets, write true shared client/server code (aka "Isomorphic Ruby"), and so much more.</p><h2>What is Opalist?</h2><p>Opalist is a bi-weekly publication showcasing the latest news and tutorials for Opal, the Opal ecosystem, and cutting-edge front-end development. A fan of&nbsp;link list email newsletters? We're right on board.&nbsp;<a target="_blank" href="http://opalist.curated.co">Check out the latest issue and subscribe today.</a></p><p>We also welcome link submissions from the community, so <a href="/submit-link">if you have something to share, pass it along!</a></p>

<hr />

{% include subscription_form.html %}

<hr />

<h2>Latest from the blog:</h2>

</div>

<div class="post-list">
  {% for post in paginator.posts %}
    {% include post.html %}
  {% endfor %}

  {% include pagination.html %}
</div>
