<div style="text-align:center">
<form action='https://opalist.curated.co/email_subscribers' id='embedded-subscribe-form' method='post'>
<h3>Subscribe to the Opalist Newsletter</h3>
<label for='subscribe-email'>Email Address:</label>
<input id='subscribe-email' name='email' type='email' />
<br/><br/>
<input name='form_dom_id' value='embedded-subscribe-form' type='hidden' />
<input type='submit' onclick="this.form.submit(); this.disabled=true; this.value='Sending...';" value='Subscribe'/>
</form>
</div>
